<div class="authorFoto">
	<h3>Autores:</h3><br />
	<img src="/images/avatar.png" border="0" width="100px" /><br />
	<span>Jose C. Albuin</span><br /><br />
</div>

<div class="authorVideo">
	<h3>Video:</h3><br />
	<iframe width="260" height="180" src="https://www.youtube.com/embed/sQAfttLXIBY?rel=0" frameborder="0" allowfullscreen></iframe>
</div>



